:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
}

body {
  margin: 0;
}

.button {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: var(--data-color, inherit);
  background-color: var(--data-background, transparent);
}

.button:hover {
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
  color: var(--data-hover-color, inherit);
  background-color: var(--data-hover-background, transparent);
}