:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
}

body {
  margin: 0;
}

.search-result {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-result:hover {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
}